@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .reg-field {
    @apply w-full pl-10 pr-4 py-3.5 bg-slate-50 border border-slate-100 rounded-xl outline-none font-bold text-sm focus:border-indigo-300 focus:bg-white transition-all text-slate-700;
  }
}